%reset{
	margin:0;
	padding: 0;
}
body,ul,li,p,h1,h2,h3,h4,h5,h6,span{
	@extend  %reset;
}
ul,li{
	list-style: none;
}
body{
	font-size: 30px;
}
#header {
    top: 0;
    position: fixed;
    width: 100%;
    height: 60px;
    z-index: 1;
    font-family: "Microsoft Yahei";
    background: #168bd8;
}
.nav{
    width: 1000px;
    margin: 0 auto;
    height: 60px;
}
.mala-logo{
    background-image: url(../images/header_z_94c6de7.png);
    background-position: -2px 0px;
}
.mala-logo {
    display: block;
    width: 120px;
    height: 40px;
    margin-top: 10px;
    background-repeat: no-repeat;
}
.mala-fl {
    float: left;
}
.mala-nav-list {
    margin-left: 60px;
}
.mala-clearfix{
	&::after{
    content: "";
    display: block;
    visibility: hidden;
    clear: both;
    height: 0;
}
}
.mala-nav-item {
    position: relative;
    list-style-type: none;
    display: list-item;
}
.mala-nav-link {
    text-decoration: none;
    display: inline-block;
    width: 100px;
    font-size: 15px;
    height: 28px;
    padding-top: 32px;
    color: #fff;
    text-align: center;
    cursor: pointer;
}
.nav-help {
    float: right;
    margin-top: 20px;
}
.nav-help a {
    color: #fff;
    font-size: 12px;
    padding: 0 10px;
    text-decoration: none;
}
.nav-app i {
    display: inline-block;
    width: 32px;
    height: 25px;
    background-repeat: no-repeat;
    background-image: url(../images/header_z_94c6de7.png);
    background-position: -88px -154px;
}
.clear {
    clear: both;
    height: 0;
}
#section-0 {
    background: #3fb0ee url(../images/bg-0_c25cb21.jpg) repeat center top;
}
#section-1 {
    background: #3fb0ee url(../images/bg-1_e29bcfa.jpg) repeat center top;
}
#section-2 {
    background: #3fb0ee url(../images/bg-2_867b7b4.jpg) repeat center top;
}
#section-3 {
    background: #3fb0ee url(../images/bg-3_153a003.jpg) repeat center top;
}
.fp-section.fp-table, {
    display: table;
    width: 100%;
}
.section {
    position: relative;
}
.fp-section{
	    box-sizing: border-box;
}
.section .top {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
}
.bg-cloud-1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 1000px;
    background: url(../images/cloud_1_1d4924b.png) repeat;
}
.active .bg-cloud-1 {
    animation: cloudmove 100s linear infinite;
    -moz-animation: cloudmove 100s linear infinite;
    -webkit-animation: cloudmove 100s linear infinite;
    -ms-animation: cloudmove 100s linear infinite;
}
@keyframes cloudmove{
	    0%{
	    	transform:translateX(0);
	    }
	    100%{
	    	transform:translateX(-100%);
	    }
}
.section .middle {
    position: absolute;
    width: 100%;
    left: 0;
    top: 50%;
}
.bg-cloud-2 {
    position: absolute;
    top: -200px;
    left: 0;
    width: 100%;
    height: 400px;
    background: url(../images/cloud_2_a186193.png) repeat;
}
.active .bg-cloud-2 {
    animation: cloudmove 100s linear infinite;
    -moz-animation: cloudmove 100s linear infinite;
    -webkit-animation: cloudmove 100s linear infinite;
    -ms-animation: cloudmove 100s linear infinite;
}
.section .bottom {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
}
.bg-cloud-3 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 400px;
    background: url(../images/cloud_3_5ee0340.png) repeat;
}
.active .bg-cloud-3 {
    animation: cloudmove 100s linear infinite;
    -moz-animation: cloudmove 100s linear infinite;
    -webkit-animation: cloudmove 100s linear infinite;
    -ms-animation: cloudmove 100s linear infinite;
}
#section-0 .follow-head {
    height: 126px;
    background: #0d71cd url(../images/bg-1_e29bcfa.jpg);
}
.section .follow-head {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}
.section .center {
    width: 1000px;
    margin: 0 auto;
    position: relative;
}
#login {
    background: #4ebffc;
}
.login-area {
    height: 300px;
    width: 340px;
    border-radius: 5px;
    background: #4ebffc;
    position: absolute;
    right: 0;
    top: -198px;
}

.obj-launch {
    width: 501px;
    height: 158px;
    background: url(../images/launch_deea86c.png);
    left: 0;
    top: -210px;
}
.obj-flight {
    width: 119px;
    height: 78px;
    background: url(../images/flight_ade8ee2.png);
    left: 295px;
    top: -236px;
}
.obj-hill-2 {
    width: 63px;
    height: 78px;
    background: url(../images/hill_2_540422f.png);
    right: 288px;
    top: -13px;
}
.obj-hill-3 {
    width: 260px;
    height: 175px;
    background: url(../images/hill_3_ace39fb.png);
    right: -129px;
    top: -47px;
}
.obj-hill-1 {
    width: 265px;
    height: 175px;
    background: url(../images/hill_1_0d79217.png);
    left: -182px;
    top: -50px;
}
.obj-ship {
    width: 242px;
    height: 228px;
    background: url(../images/ship_1ad6734.png);
    left: 100px;
    top: -191px;
}
.active .obj-ship {
    left: 126px;
}
#login .login {
    box-shadow: none;
    width: auto;
}
.uc-common-login .login{
	position: relative;
}
.uc-common-login {
    font: 14px/1.5 'Microsoft YaHei','微软雅黑',Helvetica,Sans-serif;
    background: #fff;
}

.active .title-area-1 {
    top: -100px;
    left: 20px;
}
.active .title-area {
    opacity: 1;
}
.obj, .title-area {
    position: absolute;
    transition: all .5s ease-out .3s;
    -webkit-transition: all .5s ease-out .3s;
    -moz-transition: all .5s ease-out .3s;
    -ms-transition: all .5s ease-out .3s;
}

.active .obj-flight {
    animation: flight 3s ease-in-out infinite;
    -webkit-animation: flight 3s infinite;
    -moz-animation: flight 3s infinite;
    -ms-animation: flight 3s infinite;
}
@keyframes flight {
    0% {
        top: -220px
    }

    40% {
        top: -230px
    }

    100% {
        top: -220px
    }
}
.section .title {
    position: absolute;
    left: 0;
    top: 0;
    font-family: 'Microsoft Yahei';
    color: #fff;
    width: 500px;
}
#section-1 .title h3 {
    background: url(../images/h_lingxian_221f2d8.png) no-repeat;
}
.section .title h3 {
    width: 66px;
    height: 126px;
    text-indent: -9999em;
    float: left;
}
.y-ain {
    animation: y-ain 2s infinite;
    transform-style: preserve-3d;
    -webkit-animation: y-ain 2s infinite;
    -webkit-transform-style: preserve-3d;
    -moz-animation: y-ain 2s infinite;
    -moz-transform-style: preserve-3d;
    -ms-animation: y-ain 2s infinite;
    -ms-transform-style: preserve-3d
}
@keyframes y-ain{
	   0% {
        transform: rotateY(0)
    } 
    40% {
        transform: rotateY(0)
    }  
    100% {
        transform: rotateY(360deg)
    }
}
.section .title .text {
    margin-left: 86px;
    margin-top: 8px;
}
.section .title .text h4 {
    font-size: 34px;
    font-weight: 400;
    letter-spacing: 2px;
    line-height: 48px;
    margin-bottom: 6px;
}
.section .title .text p {
    font-size: 19px;
    letter-spacing: 1px;
    line-height: 32px;
    opacity: .8;
}
.active .obj-brain {
    right: 26px;
    opacity: 1;
}
.obj-brain {
    width: 444px;
    height: 427px;
    background: url(../images/brain_36a156f.png);
    right: -14px;
    top: -200px;
    opacity: 0;
}
#section-1 .square-1 {
    background: #35b568;
    left: 70px;
    width: 44px;
    height: 44px;
}
#section-1 .square {
    bottom: 0;
}
.section .square {
    position: absolute;
    display: block;
    width: 88px;
    height: 88px;
}
#section-1 .square-2 {
    background: #4ac179;
    left: 158px;
}
#section-1 .square-3 {
    background: #8ae75a;
    left: 246px;
    width: 44px;
    height: 44px;
}
#section-1 .square-4 {
    background: #8ae75a;
    right: 328px;
    width: 44px;
    height: 44px;
}
#section-1 .square-5 {
    background: #4ac179;
    right: 240px;
    width: 44px;
    height: 44px;
}
#section-2 .square-1 {
    background: #33bb9a;
    left: 70px;
    top: 60px;
}
#section-2 .square-2 {
    background: #29a2b8;
    left: -18px;
    top: 148px;
}
#section-2 .square-3 {
    background: #60cf6e;
    left: 158px;
    top: 148px;
}
#section-2 .square-4 {
    background: #8ae75a;
    left: 70px;
    top: 236px;
    width: 176px;
    height: 176px;
    background-image: url(../images/square_c776382.jpg);
}
#section-2 .square-5 {
    background: #33bb9a;
    left: 246px;
    top: 236px;
}
.section .follow-head {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}
#section-2 .follow-head {
    height: 138px;
    background: transparent url(../images/bg-3-head_b8a3f7f.png);
}
#section-2 .title h3 {
    background: url(../images/h_quanmian_8f813d2.png) no-repeat;
}
.active .obj-allside{
	right: 32px;
	opacity: 1;
}
.obj-allside {
    width: 444px;
    height: 330px;
    background: url(../images/allside_e8abd12.png);
    right: 2px;
    top: -120px;
    opacity: 0;
}

.copyright {
    font-size: 12px;
    color: #fff;
    text-align: center;
    line-height: 80px;
    font-family: 'Microsoft Yahei';
}
.copyright a {
    color: #fff;
    text-decoration: none;
}
.active .title-area-3 {
    top: -140px;
    left: 82px;
}
.active .title-area {
    opacity: 1;
}
.title-area-1 {
    top: -100px;
    left: -30px
}
.active .title-area-1 {
    top: -100px;
    left: 20px
}
.title-area-2 {
    top: -121px;
    left: 8px
}

.active .title-area-2 {
    top: -121px;
    left: 58px
}

.title-area-3 {
    top: -140px;
    left: 32px
}

.active .title-area-3 {
    top: -140px;
    left: 82px
}
.title-area-3 .obj-bubble {
    left: -36px;
    top: -56px;
    width: 275px;
    height: 245px;
    background: url(../images/bubble_3b0f897.png);
}
#section-3 .title h3 {
    background: url(../images/h_zhuanye_256a94d.png) no-repeat;
}
.active .obj-stat {
    right: 80px;
    opacity: 1;
}
.obj-stat {
    width: 603px;
    height: 361px;
    background: url(../images/stat_8934528.png);
    right: 50px;
    top: -160px;
    opacity: 0;
}
.btn-arrow {
    display: block;
    width: 30px;
    height: 26px;
    background: url(../images/arrow_aad9b25.png);
    position: absolute;
    left: 485px;
    bottom: 42px;
}
a {
    color: #a6b6c6;
    text-decoration: none;
}
.arrowGo {
    bottom: 42px;
    animation: arrowGo 1s infinite steps(10,end);
    -webkit-animation: arrowGo 1s infinite steps(10,end);
    -moz-animation: arrowGo 1s infinite steps(10,end);
    -ms-animation: arrowGo 1s infinite steps(10,end);
}
@keyframes arrowGo{
	0%{
		opacity:1;
		transform-origin:center center;
		transform:translatex(-50%);
		bottom:42px;
	}
		50%{
		opacity:0.5;
		transform-origin:center center;
		transform:translatex(-50%);
		bottom:36px;
	}
		100%{
		opacity:1;
		transform-origin:center center;
		transform:translatex(-50%);
		bottom:42px;
	}
}